.heading-1 {
	display: block;
	font-size: 12rem;
	font-weight: bolder;
	letter-spacing: 1.2;
	font-family: $bangers;
	text-transform: uppercase;
	color: $color-primary;

	@include responsive(tab-port) {
		font-size: 7rem;
	}
}

.heading-2 {
	display: block;
	font-size: 8rem;
	text-transform: uppercase;
	color: $color-primary;
	font-weight: 700;
	font-weight: bolder;
	font-family: $bangers;

	@include responsive(tab-port) {
		font-size: 5rem;
	}
}

.heading-3 {
	display: block;
	font-size: 3rem;
	font-weight: bold;
	font-family: $quicksand;
	letter-spacing: 1.2;
	text-transform: uppercase;
	color: white;
	@include responsive(tab-port) {
		font-size: 2rem;
	}
}

.heading-4 {
	display: block;
	font-size: 2.4rem;
	font-weight: bold;
	font-family: $quicksand;
	letter-spacing: 1.2;
	text-transform: capitalize;
	color: $color-primary;
	@include responsive(tab-port) {
		font-size: 1.8rem;
	}
}

.paragraph {
	font-size: 2rem;
	color: white;
	line-height: 1.4;
	font-weight: 400;

	@include responsive(tab-port) {
		font-size: 1.4rem;
	}
}
