.form {
	width: 50%;
	margin: 3rem auto;
	flex-direction: column;
	display: flex;

	@include responsive(tab-port) {
		width: 70%;
	}

	@include responsive(tab-land) {
		width: 90%;
	}
	@include responsive(mobile) {
		width: 80%;
		margin: 0 auto;
	}

	&__control {
		width: 100%;
		background-color: white;
		position: relative;
		display: grid;
		margin: 0.4rem 0;
		border: 1px solid black;
		grid-column: 1;
		border-radius: 4px;

		&--text-area {
			width: 100%;
			background-color: white;
			position: relative;
			grid-template-rows: min-content 1fr min-content;
			display: grid;
			margin: 0.4rem 0;
			border: 1px solid black;
			height: 20rem;
			margin-bottom: 5rem;
			border-radius: 4px;
		}
	}

	&__input {
		border: none;
		font-size: 1.5rem;
		padding: 1rem 2rem;
		font-family: 'Quicksand', sans-serif;
		outline: none;
		background-color: transparent;
	}

	&__text-area {
		border: none;
		font-family: 'Quicksand', sans-serif;
		font-size: 1.5rem;
		padding: 1rem 0;
		padding-left: 1rem;
		outline: none;
		background-color: transparent;
	}

	&__label {
		grid-row: 1;
		font-size: 1.2rem;
		margin-left: 1rem;
		justify-self: flex-start;
	}
	.error {
		color: red;
		margin-left: 1rem;
		justify-self: flex-start;
		font-weight: bold;
		padding-bottom: 0.3rem;
	}
}

.form__input:focus ~ .form__label {
	font-size: 0.6rem;
}

.form__text-area:focus ~ .form__label {
	font-size: 1rem;
}
