.contact-page {
	grid-column: full-start / full-end;
	text-align: center;
}

.contact {
	.btn {
		&:link,
		&:visited {
			background-color: $color-primary;
			display: inline-block;
			font-weight: bolder;
			padding: 1.4em 3em;
			font-size: 1.8em;
			margin-top: 2em;
			text-transform: uppercase;
			cursor: pointer;
			color: black;
			text-decoration: none;
		}

		&:hover,
		&:active {
			background-color: black;
			color: white;
		}
	}

	.container {
		display: grid;
		grid-template-columns: 1fr;
	}

	&__list {
		margin: 9rem auto;
		display: flex;
		justify-content: center;

		@include responsive(mobile) {
			flex-direction: column;
		}

		@include responsive(tab-port) {
			flex-direction: column;
		}
	}

	&__item {
		display: flex;
		align-items: center;
		color: white;

		@include responsive(mobile) {
			margin: 3rem;
		}

		@include responsive(tab-port) {
			margin: 3rem;
		}
		.icon {
			color: $color-primary;
			margin: 0 2rem;
			font-size: 4rem;
		}
	}

	&__detail {
		display: flex;
		font-size: 1.5rem;
		align-items: flex-start;
		text-align: left;
		justify-content: flex-start;
		flex-direction: column;

		.title {
			font-weight: bold;
		}
	}
}
